html {
    height: 100%;
    overflow: hidden;
}
body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    overflow: hidden;
    touch-action: none;
}

.color_pallette {
    color: rgb(36, 37, 84);
    color: rgb(64, 50, 110);
    color: rgb(96, 67, 127);
    color: rgb(206, 115, 171);
    color: rgb(250, 211, 189);
}

/* Для скрытия панелей в iOS Safari */
#root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100dvh;
    /* height: -webkit-fill-available; */
}

/* .img {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
} */


body {
	background: rgb(96, 67, 127);
	color: rgb(250, 211, 189);
    font-family: system-ui, sans-serif;
    /* font-size: 5vw; */
    font-size: clamp(2dvh, 3dvh, 3.5dvh);
    /* font-size: clamp(3vw, 3dvh, 10px); */
    /* font-size: 30px; */
    margin: 0px;
    width: 100%;
    touch-action: manipulation;
    height: 100%;
    margin: 0;
    overflow: hidden;
    touch-action: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
section {
    padding: 0px;
    margin: 0px;
}
figure {
    padding: 0px;
    margin: 0px;
}
button {
    /* background: rgb(96, 67, 127); */
    background: rgb(64, 50, 110);
    /* background: rgb(202, 193, 210); */
    /* font-size: 40px; */
    font-size: clamp(2dvh, 2dvh, 5dvh);
    color: rgb(250, 211, 189);
    touch-action: manipulation;
    border: 0.35dvh, rgb(36, 37, 84), solid;
    box-shadow: -0.1dvh 0.3dvh 0.3dvh rgb(36, 37, 84, 0.6), 0 0 0.5dvh rgba(255, 152, 216, 0.15);
    /* box-shadow: -0.2dvh 0.4dvh 0.3dvh rgb(250, 211, 189, 0.5); */
}
button:disabled {
    /* background-color: rgb(41, 42, 43); */
    border-style: dashed;
    opacity: 0.65;
}

/* h4 { */
    /* margin: 10% */
/* } */


.top-bar {
    position: relative;
    display: flex;
    /* width: 100%; */
    /* align-items: row; */
    justify-content: space-between;
    /* object-fit: contain; */
    margin: 5% 3%;
}

.left-panel {
    display: flex;
    flex-direction: row;
    align-items:flex-start; 
    z-index: -2;
}
.left-info {
    position: relative;
    text-align: left;
    background: rgb(64, 50, 110);
    padding: 1.2dvh;
    border: 0.3dvh, rgb(36, 37, 84), solid;
    z-index: -2;
    text-wrap: nowrap;
}
.left-info #goal, #goal-text, #goal-reached, .right-info #day, #day-text{
    font-size: 70%;
}
.goal_subcontainer {
    gap: 0.5dvh;
}
#day-goal-pay {
    position: absolute;
    /* width: 1vw; */
    left: 0;
    margin: 2dvh;
    margin-left: -0.3dvh;
    width: 80%;
    /* max-width: 90%; */
    height: 6.5dvh;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.money-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content:space-between;
}
.lives {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    image-rendering: pixelated;
    margin: 2%;
    z-index: -1;
}
.heart {
    display: flex;
    max-height: 4dvh;
    max-width: 100%;
    aspect-ratio: 1/1;
    image-rendering: pixelated;
    transform: scale(1.3);
}
.right-info {
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    text-align: right;
    background: rgb(64, 50, 110);
    padding: 1.2dvh;
    border: 0.3dvh, rgb(36, 37, 84), solid;
    z-index: 2;
}
.emote {
    position: absolute;
    display: flex;
    top: 10%;
    left: 30%;
    min-width: 30%;
    max-width: 30%;
    /* max-height: 100%; */
    /* aspect-ratio: 1/1; */
    image-rendering: pixelated;
    transform: scale(1.1);
}
.wait-timer {
    /* position: fixed; */
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    height: 0.4dvh;
    width: 100%;
    /* left: 50%; */
    /* top: 40px; */
    background: rgb(206, 115, 171);
    /* padding: 15px; */
    /* border: 5px, rgb(36, 37, 84), solid; */
    z-index: 100;
}
/* .right-info #day { */
    /* font-size: 80%; */
/* } */
/* .right-info #time { */
    /* font-size: 50px; */
/* } */


.customer {
    position: fixed;
    pointer-events: none;
    /* height: 550%; */
    display: flex;
    /* position:fixed; */
    top: 0px;
    /* left: 0px; */
    /* bottom: 0px; */
    z-index: -1;
    /* height: 48.5%; */
    height: 46dvh;
    width: 100%;
    /* background: rgb(49, 85, 21); */
    /* left: -100px; */
}
.customer img {
    /* position: absolute; */
    display: block;
    /* flex-wrap: wrap; */
    /* left: -00px; */
    /* background-color: rgb(175, 218, 255); */
    /* width: 700px; */
    /* width: 100%; */
    height: 100%;
    /* left: -100px; */

    /* height: 50%; */
    image-rendering: pixelated;
}

.order-panel {
    display: flex;
    position: absolute;
    top: 2dvh;
    right: 3vw;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 54%;
    height: 45dvh;
    overflow: auto;
    /* overflow:visibl
    e; */
}

.order {
    /* display: flex; */
    /* top: -1000%; */
    display: none;
    flex-basis: auto;
    padding: 1.5dvh;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    background: rgba(139, 70, 141);
    border: 0.8vw solid rgb(64, 50, 110);
    overflow: auto;
    max-height: 75%;
    box-sizing: border-box;
    /* overflow: hidden; */
    overflow:visible;

    min-width: 15vw;    
    
    flex: 0 1 auto;

    position: relative;
}
.order::before {
    content: '';
    position: absolute;
    left: -3vw;
    top: 60%;
    /* transform: translateY(65%); */

    /* height: 1dvh; */
    /* width: 1dvh; */

    /* Рисуем треугольник через border */
    border: 2.5vw solid transparent;
    border-right-color: rgb(64, 50, 110);
    border-left: 0;
    
    z-index: 1;
}

/* Внутренний треугольник, чтобы создать эффект "заливки" */
.order::after {
    content: '';
    position: absolute;
    left: -2vw; /* Немного правее, чтобы перекрыть внешнюю границу */
    top: 60%;
    /* transform: translateY(70%); */
    
    /* height: 1dvh; */
    /* width: 1dvh; */
    
    /* Рисуем треугольник через border */

    border: 2.3vw solid transparent;
    border-right-color: rgba(139, 70, 141); /* Цвет фона order */
    border-left: 0;
    
    z-index: 2;
}

.order-item-display {
    width: 18vw;
    height: 18vw;
    max-width: 20vw;
    max-height: 20vw;
    min-width: 8vw;
    min-height: 8vw;
    
    margin: -4.5vw -1vw;
    
    position: relative;
    image-rendering: pixelated;
    
    flex-shrink: 0;
}


.plate {
    position: fixed;
    top: 0%;
    right: 8%;
    display: none;
    flex-direction:column-reverse;
    align-items: center;
    width: 45%;
    /* height: 46.7dvh; */
    height: 46.7%;
    max-height: 46.7%;
    /* z-index: 0; */
}
.on-plate-bun{
    display: flex;
    height: 50%;
    /* margin-top: -75%; */
    margin-top: -19.6dvh;
    image-rendering: pixelated;
}
.on-plate{
    position: relative;
    margin: -4.1dvh;
    height: 20%;
    image-rendering: pixelated;
}

.bottom-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 53%;
    max-height: 53%;
}



.settings-panel {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 54.5%;
    height: 4dvh;
    right: 0%;
    height: auto;
    width: auto;
    padding: 1dvh;
    background: none;
    border: 0dvh solid rgb(139, 70, 141, 0);
    z-index: 100;
    box-shadow: none;
    image-rendering: pixelated;
}
.settings-panel button {
    /* position: relative; */
    display: flex;
    height: 4dvh;
    min-height: 3.6dvh;
    min-width: 3.6dvh;
    max-height: 3.6dvh;
    max-width: 3.6dvh;
    aspect-ratio: 1/1;
    padding:0px;
    padding: 1dvh;
    background: none;
    border: 0dvh solid rgb(139, 70, 141, 0);
    z-index: 100;
    box-shadow: none;
    image-rendering: pixelated;
}
/* .fullscreen-button { */
    /* position: absolute;
    display: flex;
    bottom: 54.5%;
    height: 4dvh;
    max-height: 3.5dvh;
    max-width: 3.5dvh;
    padding:0px;
    padding: 1dvh;
    background: none;
    border: 0dvh solid rgb(139, 70, 141, 0);
    z-index: 100;
    box-shadow: none;
    image-rendering: pixelated; */
/* } */

.counter {
    position:absolute;
    display: flex;
    bottom: 52%;
    width: 100%;
    height: 2%;
    background: rgb(36, 37, 84);
    z-index: -1;
}

.table-container {
    display: flex;
    flex-direction: row;
    height: 50%;
    background: rgb(139, 70, 141);
    border: solid rgb(36, 37, 84);
    border-width: 0.5dvh 0.5dvh 0dvh 0.5dvh;
}
.table {
    /* display: none; */
    display: var(--table-display, flex);
    width: 100%;
    margin: 0.5dvh;
    border: 0.2dvh solid rgb(64, 50, 110);
}
.tray-container {
    display: flex;
    width: fit-content;
    height: 100%;
    flex: 1;
    /* gap: 0.5dvh; */
}
.tray-type-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 18vw; */
    width: var(--tray-type-width, 18vw);
    /* width: 100%; */
    gap: 0.5dvh;
    padding: 0.5dvh;
    background-color: rgb(96, 67, 127);
}
.tray-ingredient-container {
    min-height: 0;
    min-width: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    gap: 0.5dvh;
    /* padding-bottom: 1dvh; */
}
.tray-ingredient-button {
    /* min-width: 20vw; */
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    min-height: 0;
    min-width: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(139, 70, 141);
    /* opacity: 1; */
    padding:0%;
    /* justify-content: center; */
    align-content: center;
    /* overflow: hidden; */
    /* margin-right: 0.5dvh */
}
.tray-ingredient-button img {
    /* display: none; */
    display: flex;
    min-height: 5dvh;
    min-width: 5dvh;
    justify-self: center;
    /* height: 100%; */
    /* width: 100%; */
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    /* z-index: ; */
}
.ingredients-on-tray-count-display {
    width: 100%;
    background-color: rgb(64, 50, 110);
    z-index: 2;
}
.tray-ingredient-holder-container {
    display: flex;
    flex-direction: column-reverse;
    /* align-content: center; */
    /* justify-content: center; */
    /* padding-bottom: -1dvh; */
}
.tray-ingredient-holder-container img {
    /* min-width: 8dvh; */
    position: relative;
    align-self: center;
    /* justify-self:center; */
    width: 90%;
    max-width: 8dvh;
    max-height: 5dvh;
    overflow:visible;
    display: flex;
    object-fit: cover;
    /* margin-top: -78%; */
    margin-top: -4dvh;
    margin-bottom: 5%;
    /* margin-top: -8rem; */
    /* margin-top: -12vw; */
}
.tray-buy-button {
    /* display: flex */
    height: 60%;
    width: 12vw;
    min-width: 6dvh;
    align-self: center;
    /* justify-self: center; */
    /* justify-content: center; */
    /* align-content: center; */
    background-color: rgb(139, 70, 141);
    border-color: rgb(64, 50, 110);
}
.tray-buy-button img {
    width: 100%;
}


.ingredient_item {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 18vw;
    width: 18vw;
    max-height: 10dvh;
    image-rendering: pixelated;
    z-index: 5;
    
}

.item-picked {
    transform: scale(1.2) translateY(-3.5dvh) translateX(-1dvh);
    /* padding-bottom: 5dvh; */
    /* scale: 1.5; */
}


/* ===== KITCHEN ===== */

.kitchen {
    display: flex;
    height: 52%;
    width: 100%;
    max-height: 52%;

    background: rgb(139, 70, 141);
    border: 0.5dvh solid rgb(36, 37, 84);
    box-sizing: border-box;
    padding: 1% 0%;
}

.kitchen .grid {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 100%;
    gap: 1vw;
    overflow-x: scroll;
    
    /* background: rgb(0, 107, 131); */
    /* border: 0.5dvh solid rgb(36, 37, 84); */
    box-sizing: border-box;
}

.ingredient-type-column {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    height: 100%;
    max-height: 100%;
    min-height: 0%;
    align-items: center;
    gap: 0.7dvh;
    padding: 0.7dvh;
    margin-left: 0.5dvh;
    background: rgb(96, 67, 127);
    /* border: 0.5dvh solid rgb(64, 50, 110); */
    box-sizing: border-box;
}

.buy-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    max-height: 100%;
    min-height: 0%;
    /* background: rgb(172, 172, 172); */
    /* border: 0.5dvh solid rgb(36, 37, 84); */
    box-sizing: border-box;
    padding: 1dvh;
    image-rendering: pixelated;
}
.buy-button {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
    justify-content: center ;
    padding: 2.5vw;
    height:80%;
    background: rgb(139, 70, 141);
    border-color: rgb(64, 50, 110);
    box-sizing: border-box;

}
.buy-button img {
    /* height: 90%; */
    min-height: 0;
    object-fit: cover;
    image-rendering: pixelated;
    scale: 1.5;
}
.ingredient-buttons-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 0%;

    gap: 1dvh;
    /* background: rgb(255, 255, 255); */
    /* border: 0.5dvh solid rgb(255, 255, 255); */
    box-sizing: border-box;
}
.ingredient-button {
    display: flex;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    padding: 0.5dvh;
    background: rgb(96, 67, 127);
    /* background: rgb(60, 0, 255); */
    /* border: 0.5dvh solid rgb(36, 37, 84); */
    box-sizing: border-box;

    image-rendering: pixelated;
    aspect-ratio: 1 / 1;
}
.ingredient-button img {

    object-fit: cover;
    image-rendering: pixelated;
    aspect-ratio: 1/1;
}

.upgrade-button-column {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    /* justify-content:center; */
    /* align-items:center; */
    /* top: 0; */
    width: 8dvh;
    height: 100%;
    gap: 1dvh;
    min-width: 0%;
    /* background: rgb(26, 121, 0); */
}

.upgrade-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    grid-column: 1 / -1;
    width: 100%;
    height: 120%;
    min-width: 0;
    min-height: 0;
    padding: 0;
    
    overflow: hidden;
    box-sizing: border-box;
    /* background: rgb(0, 255, 0); */
}

.upgrade-button-column img {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-self: start;
    width: 100%;
    /* background: rgb(108, 118, 108); */
    min-width: 0%;
    min-height: 0%;
    object-fit:contain;
    image-rendering: pixelated;
    aspect-ratio: 1/1;
}

.upgrade-level {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    justify-self: end;
    width: 100%;
    min-width: 0%;
    font-size: 70%;
    text-wrap: nowrap;
}

/* 

.kitchen .grid {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 1%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    align-content: center;
}

@media (max-aspect-ratio: 1/2) {
    .kitchen .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1.1;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    overflow: hidden;
    padding: 0;
    border: rgb(60, 0, 255) solid 0.3dvh;
    border: none
}
.item-button img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}
.upgrade-button {
    width: 100%;
    height: 23%;
    text-align: center;
    border: none;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border:none;
}
.buy-button {
    width: 85%;
    aspect-ratio: 1/1;
    background-color: rgb(64, 50, 110);
    text-align: center;
    border: none;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border:none;
} */


.menu {
    position:absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0px; */
    /* padding: 0px; */
    z-index: 10;
    background: rgba(139, 70, 141, 0.627);
    /* border: 5px, rgb(36, 37, 84); */
    /* border-style: solid; */
}
.menu h4 {
    margin-top: 2dvh;
    margin-bottom: 2dvh;
}

.menu-button {
    width: 70%;
    min-width: 70%;
    /* min-width: fit-content; */
    /* height: 120px; */
    /* font-size: 50px; */
    z-index: 100;
    margin: 1.5vw;
    padding: 4vw;
    /* border: none; */
    touch-action: manipulation
}

.play-container-background {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    /* background-color: rgb(139, 70, 141); */
}

.play-container {
    position: relative;
    z-index: 100;
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    justify-content: center;
}

.play-container .name {
    position: absolute;
    width: 70%;
    top: -15vw;
    margin: 0;
    /* align-content: center; */
    /* justify-content: center; */
    text-align: center;
    align-self: center;
    font-size: 7vw;
    text-shadow: -0.2dvh 0.3dvh 0.4dvh rgb(36, 37, 84), -0.1dvh 0.1dvh 2.5dvh rgb(206, 115, 171), -0.1dvh 0.1dvh 1dvh rgb(250, 211, 189, 0.7);
    /* text-wrap: nowrap; */
}
.play-container  .play-subcontainer {
    /* position: relative; */
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 60%;
    /* min-width: fit-content; */
    padding: 4%;
    height:fit-content;
    /* height: 35%; */
    background: rgb(64, 50, 110);
}
.play-subcontainer .max-score-container {
    text-wrap: nowrap;
    display: flex;
    gap: 1dvh
}
.play-subcontainer .description {
    margin: 3dvh;
    margin-top: 1dvh;
    font-size: 80%;
    /* background-color: rgb(64, 50, 110); */
    /* border: 0.4dvh, rgb(64, 50, 110), solid; */
    /* padding: 5%; */
    /* margin: 2dvh, 2dvh, 2dvh, 2dvh; */
}
#continue-button{
    width: fit-content;
    display: flex;
    gap: 0.5dvh;
    justify-content: center;
    text-wrap: nowrap;
}
.upgrade-container {
    align-self: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 60%;
    padding-bottom: 5%;
    height:fit-content;
    background: rgb(64, 50, 110);
    /* background: rgb(36, 37, 84); */
}

.run-upgrade-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 85%;;
    gap: 10%;
    margin: 1vw;
    padding: 5vw;
    /* padding-left: 10%; */
    background-color: rgb(64, 50, 110);
    /* border: 0.5dvh solid rgb(36, 37, 84); */
    /* gap: 1%; */

}

.run-upgrade-level {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 40px; */
    padding: 0.2em;
    /* width: 1.4em; */
    /* height: 1.4em; */
    
    background-color: rgb(36, 37, 84);
    /* border-radius: 5px; */
    flex-shrink: 0;
}

.fail-container {
    align-self: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 60%;
    /* max-width: 60%; */
    /* text-wrap: 1; */
    height:fit-content;
    min-width: fit-content;
    padding: 5%;
    padding-bottom: 5%;
    background: rgb(64, 50, 110);
    /* border: 0.5dvh, rgb(36, 37, 84); */
    /* border-style: solid; */
}

#radio {
    opacity: 0;
    position: absolute;
    bottom: 0.5dvh;
    left: 1dvh;
    gap: 1.5dvh;
    /* display: flex; */
    font-size: 1.3dvh;
    image-rendering: pixelated;
}
#radio img {
    height: 2dvh;
}
/* #music-name { */
/* } */

button:enabled:active {
    /* background: rgb(255, 74, 74); */
    /* padding: -1dvh; */
    scale: 0.99;
    /* margin-bottom: -1hv; */
    transform: translateY(0.3dvh);
}



/* =============================== */
/* ========= ANIMATIONS ========== */
/* =============================== */

@keyframes slide-in-opacity {
    from {
        opacity: 0;
        transform: translateX(-8%);        
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-out-opacity {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        /* transform: translateX(-5vw); */
        transform: translateX(-8%);
    }
}

/* @keyframes slide-up-opacity {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-8%);
    }
} */

@keyframes slide-in {
    from {
        transform: translateX(150%);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes slide-out {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-200%);
    }
}

@keyframes slide-left {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
    }
    to {
        opacity: 0;
    }
}

@keyframes fall {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(100px) rotate(90deg);
        opacity: 0;
    }
}

@keyframes flash {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.25;
    }
}

@keyframes emote-fade {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-100px);
    }
    
}